@using DataHarvester.Model.EntityFramework

@{
    tblUser user = (tblUser)Session["user"];
}

<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo">
                <a href="/Home">
                    <img src="~/Content/images/dh_white.png" alt="DataHarvester" width="50px" height="50px" />
                </a>
            </div>
            <div class="header__navbar">
                <ul class="list-unstyled">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="#profileForEmail">
                                <i class="zmdi zmdi-email-open"></i>
                                <span class="bot-line"></span>Email Önerileri
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="header__tool">
                <div class="account-wrap">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="account-item account-item--style2 clearfix js-item-menu">
                            <div class="image">
                                <img src="~/Content/images/profile.png" alt="Profile" />
                            </div>
                            <div class="content">
                                <a class="js-acc-btn">@user.name</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="/User/Update">
                                            <img src="~/Content/images/profile.png" alt="Profile" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a href="/User/Update">
                                            <h5 class="name">@user.name</h5>
                                            <span class="email">@user.emailAddress</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="/User/Update">
                                            <i class="zmdi zmdi-account"></i>Hesap Bilgileri
                                        </a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="/Logout">
                                        <i class="zmdi zmdi-power"></i>Çıkış Yap
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="content">
                            <a class="js-acc-btn" href="/Register">KAYIT OL</a>
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="/Login">GİRİŞ YAP</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</header>