@model List<string>
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Title : Result*@
<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-4">Sonuçlar</h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>


@*Email - AllEmail - Host - File*@
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--green">
                        <a href="#email">

                        <h2 class="number">222</h2>
                        <span class="desc">Bulunan EMAİL Sayısı (Eşleşen)</span>
                        <div class="icon">
                            <i class="zmdi zmdi-email"></i>
                        </div>
                            </a>
                    </div>
                </div>

            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--blue">
                    <h2 class="number">22</h2>
                    <span class="desc">Bulunan EMAİL Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-email-open"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--red">
                    <h2 class="number">22</h2>
                    <span class="desc">Bulunan Host Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-dns"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--orange">
                    <h2 class="number">22</h2>
                    <span class="desc">Bulunan Dosya Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-file"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*Table : LinkedIn Profile / Link*@
<section class="statistic statistic2" id="email">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" >
                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                    <div class="au-card-title">
                        <div class="bg-overlay bg-overlay--pink"></div>
                        <h3>
                            <i class="zmdi zmdi-linkedin-box"></i>LinkedIn Profil Listesi
                        </h3>
                    </div>
                    <div class="au-task js-list-load">
                        <div class="au-task__title">
                            <p>"@*@Model.SearchQuery" domainiyle ilişkili LinkedIn profilleri (@Model.ResultLinkedInProfileList.Count() sonuç*@)</p>
                        </div>
                        <div class="au-task-list js-scrollbar3">

                            @foreach (var profile in Model)
                            {
                                <div class="au-task__item au-task__item--pink">
                                    <div class="au-task__item-inner">
                                        <h5 class="task">
                                            <a href="https://www.google.com/search?q=@profile" target="_blank">@profile</a>
                                        </h5>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

