@model DataHarvester.Model.EntityFramework.tblUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataHarvester Sign In Page</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            @using (Html.BeginForm())
            {
            <div class="fadeIn first">
                <img src="~/Content/images/logo.png" id="icon" alt="DataHarvester" />
                <p><i>Sign In Page</i></p>
            </div>
                <form>
                    @Html.TextBoxFor(x => x.username, htmlAttributes: new { id = "login", @class = "fadeIn second", name = "login", placeholder = "Username" })
                    @Html.PasswordFor(x => x.password, htmlAttributes: new { id = "password", @class = "fadeIn third", name = "login", placeholder = "Password" })
                    <input type="submit" class="fadeIn fourth" value="Sign In">
                    <p class="fadeIn fourth errorMessage">@ViewBag.Message</p>
                </form>
            }
        </div>
    </div>
</body>
</html>
