@model DataHarvester.Model.EntityFramework.tblUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataHarvester - Giriş Sayfası</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            @using (Html.BeginForm())
            {
                <div class="fadeIn first">
                    <a href="/Home">
                        <img src="~/Content/images/logo.png" id="icon" alt="DataHarvester" />
                    </a>
                    <p><i>GİRİŞ SAYFASI</i></p>
                </div>
                <form>
                    @Html.TextBoxFor(x => x.username, htmlAttributes: new { id = "login", @class = "fadeIn second", name = "login", placeholder = "Kullanıcı Adı", maxlength = 25 })
                    @Html.PasswordFor(x => x.password, htmlAttributes: new { id = "password", @class = "fadeIn third", name = "login", placeholder = "Şifre", maxlength = 6 })
                    <input type="submit" class="fadeIn fourth" value="GİRİŞ YAP"><br />
                    <a href="/Home" class="fadeIn fourth">Ana Menüye Git</a><br />

                    <br /><p class="fadeIn fourth errorMessage">@ViewBag.Message</p>
                </form>
            }
        </div>
    </div>
</body>
</html>
